@use "sass:color";
@use "../variables" as var;

.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 2rem 1rem;

    @media (min-width: 768px) {
      flex-direction: row;
    }
    a {
      width: 50%;
    }

    .login-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      h1 {
        font-size: var.$fs-mb-section-title;
        color: var.$palette-blu;
        line-height: 2;
        text-align: center;

        @media (min-width: 768px) {
          font-size: var.$fs-dk-title;
        }
      }

      .login-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        max-width: 360px;

        .input-form {
          width: 100%;
        }

        .error-message {
          color: red;
          text-align: center;
        }
      }

      .login-footer {
        margin-top: 1.5rem;
        text-align: center;

        p {
          font-size: 0.9rem;
          color: var.$palette-blu;

          a {
            color: var.$palette-lightblu;
            font-weight: 500;
            transition: color 0.2s ease;

            &:hover {
              color: color.scale(var.$palette-lightblu, $lightness: -10%);
            }
          }
        }
      }
    }
  }
}
