@use "variables" as var;

.reasons {
  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    h2 {
      font-size: var.$fs-mb-section-title;
      text-align: left;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: var.$fs-mb-section-subtitle;
      font-weight: 400;
    }

    .reasons-container {
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("../../assets/img/perche-sceglierci-homepage.webp");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
      color: white;
      padding: 2rem 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      padding: 2rem;
      margin: 2rem 0;
      background-color: transparent;
      border-radius: 10px;
      color: white;

      .icon {
        width: 100%;
        font-size: 4rem;
      }

      h4 {
        font-size: 1.2rem;
        font-weight: 400;
        text-align: center;
      }
    }

    h3 {
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  .reasons {
    .container {
      h2 {
        font-size: var.$fs-dk-section-title;
      }

      h3 {
        font-size: var.$fs-dk-section-subtitle;
      }

      .reasons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 3rem;

        .cards-container {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 1rem;

          .card {
            margin: 0;

            .icon {
              font-size: 5rem;
            }

            h4 {
              text-align: center;
              font-size: var.$fs-dk-section-subtitle;
            }
          }
        }

        .about-us {
          width: 100%;

          img {
            width: 100%;
            aspect-ratio: 4/3;
          }

          h3 {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}
