@use './variables' as var;

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    padding: .5rem;
    border: 1px solid;

  input {
    background-color: white;
    padding: 0 .5rem;
  }

  input:focus {
    outline: none;
  }

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
