@use "../variables" as var;

.success-page {
  .success-content {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;

    h2 {
      font-size: var.$fs-mb-section-title;
    }

    .subtitle {
      font-size: var.$fs-mb-section-subtitle;
    }

    h4 {
      font-weight: 400;
    }

    .steps-list {
      list-style-type: disc;
      list-style-position: inside;
    }
  }
}
