.modal-overlay-property {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 18, 42, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: scroll;
  animation: fadeIn 0.2s ease-in-out;
}

.modal-content-property {
  overflow-y: auto;
  background: white;
  width: 90%;
  max-width: 700px;
  max-height: 90vh;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
  padding-top: 2rem;
  position: relative;
  animation: slideIn 0.3s ease-out;

  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: 900;
    cursor: pointer;
    color: red;
    transition: color 0.2s;
  }

  .modal-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 1rem;

    img {
      width: 150px;
      height: 100px;
      object-fit: cover;
      border-radius: 8px;
      margin-right: 1rem;
    }

    .modal-title {
      h2 {
        margin: 0;
        font-size: 1.2rem;
        color: #348aa7;
      }

      h3 {
        margin: 0.2rem 0;
        font-size: 1rem;
        font-weight: 500;
      }

      p {
        font-size: 0.9rem;
        color: #555;
        display: flex;
        align-items: center;
        gap: 0.3rem;
      }
    }
  }

  .modal-body {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    label {
      font-size: 1rem;
      font-weight: 600;

      p {
        margin-bottom: 0.3rem;
        font-size: 1rem;
      }
    }

    select {
      width: 100%;
      background-color: #d9d9d9;
      padding: 1rem;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }

    .checkbox-group {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      span {
        padding-left: 0.3rem;
      }
    }

    .full-row {
      grid-column: span 1;

      @media (min-width: 768px) {
        grid-column: span 2;
      }
    }
  }

  .modal-footer {
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
