@use "../variables" as var;

.dashboard-agent {
  background-color: rgb(244, 245, 252);
  min-height: 100vh;

  .dashboard-container {
    background-color: rgb(244, 245, 252);
    color: black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .header-dashboard {
      background-color: rgb(244, 245, 252);
      text-align: center;

      h1 {
        font-size: var.$fs-mb-title;
        color: var.$palette-lightblu;
        margin: 0;
      }

      h3 {
        color: var.$palette-blu;
        font-size: var.$fs-mb-subtitle;
      }

      @media (min-width: 768px) {
        h1 {
          font-size: var.$fs-dk-title;
        }

        h3 {
          font-size: var.$fs-dk-subtitle;
        }
      }
    }

    .general-dashboard {
      max-width: 1400px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 2rem;

      @media (min-width: 768px) {
        flex-direction: row;
      }

      .agent-card {
        width: 100%;

        .agent-info {
          background-color: var.$palette-lightblu;
          color: white;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
          padding: 1rem;
        }

        img {
          height: 200px;
          object-position: top;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
        }

        @media (min-width: 768px) {
          width: 50%;

          img {
            height: 400px;
            flex-direction: row;
          }
        }
      }

      .general {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

        @media (min-width: 768px) {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
        }

        .general-container {
          padding: 1rem;
          border-radius: 10px;
          color: white;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          text-align: center;

          .title-card h3 {
            font-size: var.$fs-mb-section-title;
            margin-bottom: 0.5rem;
          }

          .data-card {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 0.5rem;

            h3 {
              font-size: 2.5rem;
            }
          }

          .data-card2 {
            display: flex;
            justify-content: center;

            h3 {
              font-size: var.$fs-mb-section-subtitle;
            }
          }
        }

        .general-container:nth-child(1),
        .general-container:nth-child(4) {
          background-color: rgb(0, 164, 186);
        }

        .general-container:nth-child(2),
        .general-container:nth-child(3) {
          background-color: rgb(0, 108, 124);
        }
      }
    }
  }
}
