@use "../variables" as var;

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../../assets/img/header-homepage.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    color: white;
    padding: 4rem 1rem;

    h1 {
      font-size: var.$fs-mb-title;
      text-align: center;
    }

    h2 {
      font-size: var.$fs-mb-subtitle;
      text-align: center;
      font-weight: 400;
    }

    strong {
      color: var.$palette-violet;
    }
  }
}

@media (min-width: 768px) {
  header {
    .container {
      padding: 12rem 4rem;
      h1 {
        font-size: var.$fs-dk-title;
      }

      h2 {
        font-size: var.$fs-dk-subtitle;
      }
    }
  }
}
