@use "../variables" as var;

.steps {
  color: black;

  h2 {
    font-size: var.$fs-mb-section-title;
  }

  h3 {
    font-size: var.$fs-mb-section-subtitle;
    font-weight: 400;
  }

  .steps-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .step {
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      text-align: center;

      .step-container {
        background-color: var.$palette-blu;
        color: white;
        border-radius: 10px;
        padding: 1rem;
        border-radius: 10px 10px 0 0;

        .step-info {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;

          .step-number {
            width: 3rem;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var.$palette-lightblu;
            color: white;
            font-size: var.$fs-mb-section-title;
            font-weight: 600;
            border-radius: 50%;
            padding: 0 1rem;
          }

          .step-name {
            font-size: var.$fs-mb-section-subtitle;
            font-weight: 600;
          }
        }

        .step-content {
          padding: 1rem 0;
        }
      }

      img {
        border-radius: 0 0 10px 10px;
      }
    }
  }

  .steps-button {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .steps {
    .container {
      h2 {
        font-size: var.$fs-dk-section-title;
      }

      h3 {
        font-size: var.$fs-dk-section-subtitle;
        padding-bottom: 3rem;
      }

      .step {
        display: flex;
        padding: 0;
        gap: 1rem;

        &:nth-child(odd) {
          flex-direction: row;
        }

        &:nth-child(even) {
          flex-direction: row-reverse;
        }

        .step-container {
          width: calc(100% - 2rem);
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0 1rem;
          border-radius: 10px;

          .step-info {
            .step-name {
              font-size: 1.5rem;
            }
          }

          .step-content {
            font-size: 1.2rem;
          }
        }

        img {
          height: 20rem;
          border-radius: 10px;
        }
      }
    }
  }
}
