# Database Configuration
spring.datasource.url=jdbc:mysql://localhost:3306/AgenziaImmobiliare?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
spring.datasource.username=ITS_2025
spring.datasource.password=its_2025
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

# Brevo (Sendinblue) Email Configuration
spring.mail.host=smtp-relay.brevo.com
spring.mail.port=587
spring.mail.username=darkshadowsean@gmail.com
spring.mail.password=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
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.properties.mail.smtp.starttls.required=true

# Application Settings
app.admin.email=admin@immobiliaris.com
