@use "../variables" as var;

.footer {
  background-color: var.$palette-blu;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;
  max-width: 100vw;

  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;

    .brand {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .footer-logo {
        display: flex;
        justify-content: center;
        img {
          max-width: 8rem;
        }
      }

      .socials {
        ul {
          display: flex;
          gap: 1rem;
        }
      }
    }

    .resources,
    .legal,
    .contacts {
      h3 {
        font-size: var.$fs-mb-section-title;
        margin-bottom: 0.5rem;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        li {
          display: flex;
          align-items: center;
          gap: 1rem;
          font-size: var.$fs-mb-section-subtitle;
        }
      }
    }

    .contacts {
      ul {
        flex-direction: column;
      }
    }
  }

  .copyright {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .footer {
    .footer-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .brand {
        width: 100%;
        padding: 0 2rem;

        ul {
          justify-content: space-evenly;
        }
      }

      .resources,
      .legal,
      .contacts {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;

        ul {
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}
