@use "../variables" as var;

.card-input {
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  background-color: var.$palette-gray;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  &.active {
    border: 4px solid;
    border-color: var.$palette-lightblu;
  }

  img {
    height: 100px;
  }

  @media (min-width: 768px) {
    img {
      height: 200px;
    }
  }
}
