@use "./variables" as var;

.header-dashboard {
  h1 {
    text-align: center;
    font-size: var.$fs-mb-section-title;
  }
}

.dashboard-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

  .general-latest-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .general-dashboard {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .general-container {
        padding: 1rem;
        background-color: var.$palette-gray;
        border-radius: 10px;

        .title-card {
          display: flex;
          align-items: center;
          gap: 1rem;
        }

        .data-card {
          display: flex;
          align-items: center;
          justify-content: space-between;

          h3 {
            font-size: var.$fs-mb-section-title;
          }
        }
      }
    }

    .latest-alerts {
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h2 {
        font-size: var.$fs-mb-section-title;
      }

      .filter-buttons {
        display: flex;
        gap: 1rem;
        margin-left: auto;
        position: relative;

        .dropdown-menu {
          position: absolute;
          top: 60px;
          right: 0;
          display: flex;
          flex-direction: column;
          background-color: var.$palette-gray;
          padding: 1rem;
          border-radius: 10px;

          li {
            padding: 1rem;
            white-space: nowrap;
            cursor: pointer;
            border-radius: 10px;

            &:hover {
              background-color: lighten(var.$palette-gray, 10%);
            }

            &.active {
              background-color: var.$palette-lightblu;
              color: white;
              font-weight: 600;
            }
          }
        }

        .remove-filter {
          background-color: rgb(200, 0, 0);
          color: white;
        }
      }

      .table-wrapper {
        overflow-x: auto;

        table {
          width: 100%;
          border-collapse: collapse;
          table-layout: fixed;
          min-width: 1000px;

          thead {
            background-color: var.$palette-gray;
            text-align: left;

            th {
              padding: 1rem 0;
              font-weight: 600;
              font-size: var.$fs-mb-section-subtitle;
              white-space: nowrap;
            }
          }

          tbody {
            td {
              padding: 1rem 0;
              vertical-align: middle;

              .cell-content {
                display: flex;
                align-items: center;
                gap: 0.5rem;
              }

              h3 {
                font-size: 1rem;
                font-weight: 500;
                margin: 0;
              }
            }
          }
        }
      }

      &::-webkit-scrollbar {
        height: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 10px;
      }
    }
  }

  .stats-today {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
      font-size: var.$fs-mb-section-title;
    }

    .card {
      padding: 2rem;
      border-radius: 10px;

      h3 {
        font-size: var.$fs-mb-section-subtitle;
        margin-bottom: 1rem;
      }

      p {
        font-size: var.$fs-mb-section-title;
      }
    }

    .card:nth-child(2) {
      background-color: rgba(0, 128, 0, 0.6);
    }

    .card:nth-child(3) {
      background-color: orange;
    }

    .card:nth-child(4) {
      background-color: gray;
    }
  }
}

@media (min-width: 768px) {
    .header-dashboard {
        h1 {
            font-size: var.$fs-dk-title;
        }
    }
  .dashboard-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .general-latest-container {
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .general-dashboard {
        flex-direction: row;
        justify-content: space-between;

        .general-container {
          width: 100%;
          padding: 2rem 1rem;
        }
      }

      .latest-alerts {
        background-color: var.$palette-gray;
        padding: 1rem;
      }
    }

    .stats-today {
      width: 20%;
      background-color: var.$palette-gray;
      border-radius: 10px;
      justify-content: space-between;
      padding: 1rem;
    }
  }
}
