@use 'variables' as var;

.faq {
    h2 {
        font-size: var.$fs-mb-section-title;
        padding-bottom: 2rem;
    }

    .faq-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .faq-items {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .faq-item {
            background-color: var.$palette-gray;
            border-radius: 10px;
            padding: 1rem;

            .faq-question {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: var.$fs-mb-section-subtitle;

                h4 {
                    width: 100%;
                    font-weight: 400;
                }

                svg {
                    padding-left: .5rem;
                    width: 10%;
                    cursor: pointer;
                }
            }

            .faq-answer {
                padding-top: 1rem;
            }
        }
    }

    .faq-contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            margin-bottom: .5rem;
            font-size: 1.2rem;
            padding-top: 2rem;
        }
    }
}

@media (min-width: 768px) {
    .faq {
        h2 {
            font-size: var.$fs-dk-section-title;
        }

        .faq-container {
            flex-direction: row-reverse;

            .faq-items {
                justify-content: space-between;

                .faq-item {
                    .faq-question {
                        font-size: var.$fs-dk-section-subtitle;
                    }
                }
            }

            .faq-contact {
                width: 40%;
                p {
                    font-size: 1.5rem;
                }
                button {
                    width: 100%;
                }
            }
        }
    }
}