header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    
    h1 {
        font-size: 2.5rem;
        text-align: center;
        color: black;
    }

    h2 {
        font-size: 1.4rem;
        text-align: center;
        color: black;
        font-weight: 400;
    }

    img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
        object-position: center;
    }
}