header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 0;
    
    h1 {
        font-size: 2.5rem;
        text-align: center;
        color: black;
    }

    h2 {
        font-size: 1.4rem;
        text-align: center;
        color: black;
        font-weight: 400;
    }

    button {
        padding: 1rem 2rem;
        border-radius: 10px;
        border: none;
        font-size: 1.2rem;
        font-weight: 500;
        background-color: rgb(175, 175, 175);
    }
}