@use "sass:color";
@use "./variables" as var;

.login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 2rem 1rem;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  img {
    width: 50%;
  }

  .login-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    h1 {
      font-size: var.$fs-mb-title;
      color: var.$palette-blu;
      line-height: 2;
      text-align: center;

      @media (min-width: 768px) {
        font-size: var.$fs-dk-title;
      }
    }

    .login-form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      max-width: 360px;

      .input-button {
        display: flex;
        align-items: center;
        background-color: #ffffff;
        border: 1px solid black;
        border-radius: 10px;
        padding: 0.8rem 1rem;
        transition: all 0.2s ease;
        cursor: text;

        input {
          flex: 1;
          background: transparent;
          border: none;
          outline: none;
          font-size: 1rem;
          color: var.$palette-blu;
          text-align: center;

          &::placeholder {
            color: #999;
          }
        }

        &:hover,
        &:focus-within {
          background-color: #eee5e9;
          border-color: black;
        }
      }

      .login-submit {
        background-color: var.$palette-lightblu;
        color: #fff;
        font-size: 1rem;
        font-weight: 600;
        margin-top: 3rem;
        border: none;
        border-radius: 10px;
        padding: 0.9rem 1rem;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: color.scale(
            var.$palette-lightblu,
            $lightness: -10%
          );
        }

        &:active {
          background-color: color.scale(
            var.$palette-lightblu,
            $lightness: -15%
          );
        }
      }
    }

    .login-footer {
      margin-top: 1.5rem;
      text-align: center;

      p {
        font-size: 0.9rem;
        color: var.$palette-blu;

        a {
          color: var.$palette-lightblu;
          font-weight: 500;
          transition: color 0.2s ease;

          &:hover {
            color: color.scale(var.$palette-lightblu, $lightness: -10%);
          }
        }
      }
    }
  }
}
