.stats {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    color: black;

    .stat h3 {
        font-size: 2rem;
    }

    .stat p {
        font-size: 1.2rem;
    }

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-around;
        gap: 0;
    }
}