@use "./variables" as var;

.form-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .brand {
    display: flex;
    justify-content: center;

    .logo {
      width: 70px;
    }
  }

  .progress {
    background: #e5e5e5;
    border-radius: 10px;
    height: 1rem;
    margin: 1rem 0;

    .progress-bar {
      background: var.$palette-lightblu;
      height: 100%;
      border-radius: 10px;
      transition: width 0.3s ease;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;

    .step {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h2 {
        font-size: var.$fs-mb-section-title;
        text-align: center;
      }

      .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        label {
          font-size: 0.9rem;
          margin-bottom: 0.3rem;
        }

        input {
          padding: 0.7rem;
          border: 1px solid #ccc;
          border-radius: 8px;
          font-size: 1rem;
        }
      }

      .map {
        height: 10rem;
      }

      .form-row {
        display: flex;
        gap: 1rem;

        .form-group {
          flex: 1;
        }
      }
    }

    .step-control {
      display: flex;

      .btn-next {
        margin-left: auto;
      }
    }
  }
}

/* Desktop version */
@media (min-width: 768px) {
  .form-container {
    padding: 3rem 1rem;

    .brand {
      .logo {
        width: 200px;
      }
    }

    form .step {
      .map {
      height: 30rem;
    }
    }
    
  }
}
