@use 'variables' as var;

.success-page {
    .success-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            font-size: var.$fs-mb-section-title;
            text-align: center;
        }
    }
}