@use "./variables" as var;

.dashboard {
  background-color: var.$palette-blu;
  min-height: 100vh;

  .header-dashboard {
    background-color: rgb(244, 245, 252);
    color: rgb(43, 170, 183);
    padding: 3.5rem 0;
    text-align: center;

    h1 {
      font-size: 3.5rem;
      margin: 0;
    }
  }

  .dashboard-container {
    background-color: rgb(244, 245, 252);
    color: black;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .general-dashboard {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      padding: 1rem 20rem;

      .general-container {
        padding: 1rem;
        border-radius: 10px;
        color: white;
        display: flex;
        flex-direction: column;

        .title-card h3 {
          font-size: var.$fs-mb-section-title;
          margin-bottom: 0.5rem;
        }

        .data-card {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 0.5rem;

          h3 {
            font-size: 2.5rem;
          }
        }

        .data-card2 {
          display: flex;
          justify-content: space-between;

          h3 {
            font-size: var.$fs-mb-section-title;
          }
        }
      }

      .general-container:nth-child(odd) {
        background-color: rgb(0, 164, 186);
      }

      .general-container:nth-child(even) {
        background-color: rgb(0, 108, 124);
      }
    }

    /* NUOVO CONTAINER TABELLA */
    .table-wrapper-container {
      padding: 1.5rem;
      background-color: rgb(231, 230, 230);
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-width: 1200px;
      margin: 0 auto;
      box-shadow: 0 2px 8px rgba(0,0,0,0.05);

      @media (max-width: 768px) {
        padding: 1rem;
      }

      .table-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 10px;

        h2 {
          font-size: var.$fs-mb-section-title;
          margin-bottom: 1rem;
        }

        .filter-buttons {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
          position: relative;

          .dropdown-menu {
            position: absolute;
            top: 60px;
            right: 0;
            display: flex;
            flex-direction: column;
            background-color: var.$palette-gray;
            padding: 1rem;
            border-radius: 10px;

            li {
              padding: 1rem;
              cursor: pointer;
              border-radius: 10px;
              white-space: nowrap;

              &:hover {
                background-color: var.$palette-gray;
              }

              &.active {
                background-color: var.$palette-lightblu;
                color: white;
                font-weight: 600;
              }
            }
          }

          .remove-filter {
            background-color: rgb(200,0,0);
            color: white;
          }
        }

        .table-wrapper {
          overflow-x: auto;
          -ms-overflow-style: none; /* IE and Edge */
          scrollbar-width: none; /* Firefox */
          border-radius: 10px;

          &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera */
          }

          table {
            width: 100%;
            border-collapse: collapse;
            table-layout: auto;
            min-width: 1400px;

            thead {
              background-color: var.$palette-blu;
              color: white;
              min-width: 1400px}

              th {
                padding: 1rem;
                font-weight: 600;
                font-size: var.$fs-mb-section-subtitle;
                white-space: nowrap;
                text-align: left;
              }
            }

            tbody {
              background-color: white;
              color: black;

              td {
                padding: 1rem;
                vertical-align: middle;

                .cell-content {
                  display: flex;
                  align-items: center;
                  gap: 0.5rem;
                }

                h3 {
                  font-size: 1rem;
                  font-weight: 500;
                  margin: 0;
                }
              }
            }
          }
        }

        .alerts-cards {
          display: none;
        }

        .btn-table {
          display: flex;
          justify-content: center;

          .btn {
            color: white;
            background-color: var.$palette-blu;
          }
        }
      }
    }
  }


/* RESPONSIVE */
@media (max-width: 1024px) {
  .dashboard-container {
    .general-dashboard {
      grid-template-columns: 1fr;
    }

    .table-wrapper-container {
      .table-container {
        .alerts-cards {
          display: block;
        }

        .table-wrapper {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .dashboard-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0 4rem;

    .general-latest-container {
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .general-dashboard {
        flex-direction: row;
        justify-content: space-between;
      }

      .table-wrapper-container {
        background-color: var.$palette-blu;
      }
    }

    .stats-today {
      width: 20%;
      background-color: var.$palette-blu;
      border-radius: 10px;
      padding: 1rem;
    }
  }
}
