@use "./variables" as var;

.create-user {
  margin-top: 2rem;
  padding: 3rem;
  background-color: white;
  border-radius: 12px;
  max-width: 1000px;

  h2 {
    font-size: var.$fs-mb-section-title;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .create-user-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    gap: 1.5rem;

    .input-group {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      label {
        font-weight: 600;
      }

      input,
      select {
        padding: 0.6rem;
        background-color: #d9d9d9;
        border-radius: 8px;
      }

      select {
        border: none;
      }
    }

    button[type="submit"] {
      grid-column: 1 / 2;
      justify-self: center;
    }
  }

  .modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;

    backdrop-filter: blur(3px);
    animation: fadeIn 0.25s ease forwards;
  }

  .modal {
    background: #fff;
    color: black;
    width: 520px;
    max-width: 92%;
    padding: 2rem 2.2rem;
    border-radius: 14px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    position: relative;
    text-align: center;

    animation: slideUp 0.25s ease forwards;

    h3 {
      margin-top: 0;
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 1.2rem;
    }

    h4 {
      margin-top: 1.6rem;
      margin-bottom: 0.6rem;
      font-size: 1.15rem;
      font-weight: 600;
    }

    p {
      margin: 0.35rem 0;
      font-size: 0.95rem;

      b {
        font-weight: 600;
      }
    }

    button {
      margin-top: 1.6rem;
      width: 100%;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      backdrop-filter: blur(0px);
    }
    to {
      opacity: 1;
      backdrop-filter: blur(3px);
    }
  }

  @keyframes slideUp {
    from {
      transform: translateY(30px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @media (max-width: 480px) {
    .modal {
      padding: 1.4rem 1.2rem;

      h3 {
        font-size: 1.35rem;
      }
    }
  }

  @media (min-width: 768px) {
    .create-user-form {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);

      button[type="submit"] {
        grid-column: 1 / 3;
      }
    }
  }
}
