@use "./variables" as var;

.create-user {
  margin-top: 2rem;
  padding: 3rem;
  background-color: white;
  border-radius: 12px;
  max-width: 1000px;

  h2 {
    font-size: var.$fs-mb-section-title;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .create-user-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    gap: 1.5rem;

    .input-group {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      label {
        font-weight: 600;
      }

      input,
      select {
        padding: 0.6rem;
        background-color: #d9d9d9;
        border-radius: 8px;
      }

      select {
        border: none;
      }
    }

    button[type="submit"] {
      grid-column: 1 / 2;
      justify-self: center;
    }
  }

  @media (min-width: 768px) {
    .create-user-form {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);

      button[type="submit"] {
        grid-column: 1 / 3;
      }
    }
  }
}
