@use "./variables" as var;

.cta-section {
  background-color: var.$palette-blu;
  .container {
    min-height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/cta-homepage.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 1rem;

    h2 {
      font-size: var.$fs-mb-section-title;
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  .cta-section {
    margin: 0 auto;
    padding: 4rem 2rem;

    .container {
      border-radius: 10px;
    }
  }
}

@media (min-width: 1200px) {
  .cta-section {
    padding: 5rem 2rem;
  }
}
