@use './variables' as var;

.footer {
    background-color: var.$palette-gray;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0;
    max-width: 100vw;

    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .brand {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .footer-logo {
                img {
                    max-height: 8rem;
                }
            }

            .socials {
                ul {
                    display: flex;
                    gap: 1rem;
                }
            }
        }

        .resources,
        .legal,
        .contacts {

            h3 {
                font-size: var.$fs-mb-section-title;
                margin-bottom: .5rem;
            }

            ul {
                display: flex;
                gap: 1rem;

                li {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    font-size: var.$fs-mb-section-subtitle;
                }
            }
        }

        .contacts {
            ul {
                flex-direction: column;
            }
        }
    }

    .copyright {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .footer {
        .footer-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .brand {
                width: 100%;
                padding: 0 2rem;

                ul {
                    justify-content: space-evenly
                }
            }

            .resources,
            .legal,
            .contacts {
                width: 100%;
                justify-content: center;
                align-items: center;
                text-align: center;

                ul {
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
}