@use "./variables" as var;

.form-check {
  padding: 1rem;
  background-color: var.$palette-blu;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 50px;
    }
  }

  .info-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
    font-size: var.$fs-mb-section-subtitle;
  }

  .steps-info {
    width: 100%;
    padding: 2rem 1rem;
    text-align: center;
    color: white;

    h4 {
      font-size: var.$fs-mb-section-title;
      margin-bottom: 2rem;
    }

    .steps-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
    }

    .step-card {
      width: 100%;
      padding: 2rem;
      display: flex;
      gap: 0.5rem;
      align-items: center;
      text-align: center;

      .number {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: var.$palette-lightblu;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var.$fs-mb-section-subtitle;
        font-weight: 700;
      }

      h5 {
        font-size: var.$fs-mb-section-subtitle;
        margin: 0;
      }

      p {
        opacity: 0.9;
        margin: 0;
      }
    }
  }

  .action-btns {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;

    .btn {
      width: 100%;
    }
  }
}

@media (min-width: 1200px) {
  .form-check {
    height: 100vh;
    .info-text,
    .logo-container {
      font-size: var.$fs-dk-section-subtitle;
    }

    .action-btns {
      width: 20%;
    }

    .steps-info {
      h4 {
        font-size: var.$fs-dk-section-title;
      }

      .step-card {
        padding: 1rem;
        width: auto;

        .number {
          width: 55px;
          height: 55px;
          font-size: var.$fs-dk-section-subtitle;
        }
      }
    }
  }
}
