@use 'variables' as var;

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    
    h1 {
        font-size: var.$fs-mb-title;
        text-align: center;
        color: black;
    }

    h2 {
        font-size: var.$fs-mb-subtitle;
        text-align: center;
        color: black;
        font-weight: 400;
    }

    img {
        max-height: 300px;
    }
}

@media (min-width: 768px) {
    header {
        h1 {
            font-size: var.$fs-dk-title;
        }

        h2 {
            font-size: var.$fs-dk-subtitle;
        }
    }
}