@use "variables" as var;

.reasons {
    h2 {
        font-size: var.$fs-mb-section-title;
    }

    h3 {
        font-size: var.$fs-mb-section-subtitle;
        font-weight: 400;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 2rem;
        margin: 2rem 0;
        background-color: var.$palette-gray;
        border-radius: 10px;

        .icon {
            width: 100%;
            font-size: 4rem;
        }

        h4 {
            font-size: 1.2rem;
            font-weight: 400;
            text-align: center;
        }
    }

    .about-us {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

@media (min-width: 768px) {
    .reasons {
        h2 {
            font-size: var.$fs-dk-section-title;
        }

        h3 {
            font-size: var.$fs-dk-section-subtitle;
        }

        .reasons-container {
            display: flex;
            justify-content: center;
            gap: 1rem;
            padding: 3rem 0;

            .cards-container {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr); // 2 colonne
                gap: 1rem;

                .card {
                    margin: 0;

                    .icon {
                        font-size: 5rem;
                    }

                    h4 {
                        text-align: center;
                        font-size: var.$fs-dk-section-subtitle;
                    }
                }
            }

            .about-us {
                width: 100%;

                img {
                    width: 100%;
                    aspect-ratio: 4/3;
                }

                h3 {
                    padding-bottom: 0;
                }
            }
        }
    }
}