@use 'variables' as var;

.stats {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    background-color: var.$palette-gray;
    color: black;

    .stat h3 {
        font-size: var.$fs-mb-section-title;
        color: var.$palette-lightblu;
    }

    .stat p {
        font-size: var.$fs-mb-section-subtitle;
    }
}

@media (min-width: 768px) {
    .stats {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;

        .stat h3 {
            font-size: var.$fs-dk-section-title;
        }

        .stat p {
            font-size: var.$fs-dk-section-subtitle;
        }
    }
}