@use "./variables" as var;

.form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .container {
    padding: 0;

    .brand-steps-container {
      background-color: var.$palette-blu;
      color: white;
      border-radius: 10px;
      padding: 1rem;
      margin-bottom: 3rem;

      .brand {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .brand-logo {
          display: flex;
          align-items: center;
          gap: 1rem;

          .logo {
            width: 50px;
          }
        }

        .btn {
          font-size: 1rem;
          padding: 0.5rem 1rem;
        }
      }

      .progress {
        width: 100%;
        height: 10px;
        background: rgba(255, 255, 255, 0.25);
        border-radius: 50px;
        overflow: hidden;
        margin: 2rem 0;

        .progress-bar {
          height: 100%;
          background-color: var.$palette-lightblu;
          border-radius: 50px;
          transition: width 0.3s ease;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2rem;

      .step {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h2 {
          font-size: 1.5rem;
          text-align: center;
        }

        p {
          text-align: center;
        }

        .form-group {
          display: flex;
          flex-direction: column;
          margin-bottom: 1rem;

          label {
            margin-bottom: 0.3rem;
          }

          input {
            padding: 0.7rem;
            border: 1px solid #ccc;
            border-radius: 8px;
            font-size: 1rem;
          }
        }

        .map {
          height: 10rem;
        }

        .form-row {
          display: flex;
          gap: 1rem;

          .form-group {
            flex: 1;
          }
        }

        .card-group-input {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          gap: 1rem;
        }
      }

      .step-control {
        display: flex;

        .btn-next {
          margin-left: auto;
        }
      }

      .error-message {
        text-align: center;
        color: red;
      }
    }
  }
}

@media (min-width: 768px) {
  .form-container {
    padding: 3rem 1rem;

    .progress {
      height: 12px;
      margin: 3rem 0;
    }

    .brand {
      .logo {
        width: 100px;
      }
    }

    form .step {
      .map {
        height: 30rem;
      }

      h2 {
        font-size: var.$fs-dk-section-subtitle;
      }

      .card-group-input {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        .card-input {
          max-width: 20rem;
        }
      }
    }
  }
}
