@use "./variables" as var;

.form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .brand {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      width: 50px;
    }
  }

  .progress {
    background: #e5e5e5;
    border-radius: 10px;
    height: 1rem;
    margin: 1rem 0;

    .progress-bar {
      background: var.$palette-lightblu;
      height: 1rem;
      border-radius: 10px;
      transition: width 0.3s ease;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;

    .step {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h2 {
        font-size: 1.5rem;
        text-align: center;
      }

      p {
        text-align: center;
      }

      .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        label {
          margin-bottom: 0.3rem;
        }

        input {
          padding: 0.7rem;
          border: 1px solid #ccc;
          border-radius: 8px;
          font-size: 1rem;
        }
      }

      .map {
        height: 10rem;
      }

      .form-row {
        display: flex;
        gap: 1rem;

        .form-group {
          flex: 1;
        }
      }

      .card-group-input {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
      }
    }

    .step-control {
      display: flex;

      .btn-next {
        margin-left: auto;
      }
    }

    .error-message {
      text-align: center;
      color: red;
    }
  }
}

/* Desktop version */
@media (min-width: 768px) {
  .form-container {
    padding: 3rem 1rem;

    .progress {
      margin: 3rem 0;
    }

    .brand {
      .logo {
        width: 100px;
      }
    }

    form .step {
      .map {
        height: 30rem;
      }

      h2 {
        font-size: var.$fs-dk-section-subtitle;
      }

      .card-group-input {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        .card-input {
          max-width: 20rem;
        }
      }
    }
  }
}
