@use "variables" as var;

.steps {
  h2 {
    font-size: var.$fs-mb-section-title;
    color: var.$palette-lightblu;
  }

  h3 {
    font-size: var.$fs-mb-section-subtitle;
    font-weight: 400;
  }

  .step {
    padding: 2rem 0;

    .step-info {
      display: flex;
      align-items: center;
      gap: 1rem;

      .step-number {
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var.$palette-lightblu;
        color: var.$palette-violet;
        font-size: var.$fs-mb-section-title;
        font-weight: 600;
        border-radius: 50%;
        padding: 0 1rem;
      }

      .step-name {
        font-size: var.$fs-mb-section-subtitle;
        font-weight: 600;
      }
    }

    .step-content {
      padding: 1rem 0;
    }
  }

  .steps-button {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .steps {
    h2 {
      font-size: var.$fs-dk-section-title;
    }

    h3 {
      font-size: var.$fs-dk-section-subtitle;
      padding-bottom: 3rem;
    }

    .step {
      display: flex;
      padding: 0;

      &:nth-child(odd) {
        flex-direction: row;
      }

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      .step-container {
        width: calc(100% - 2rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1rem;

        .step-info {
          .step-name {
            font-size: 1.5rem;
          }
        }

        .step-content {
          font-size: 1.2rem;
        }
      }

      img {
        height: 20rem;
      }
    }

    
  }
}