// VARIABLES

// font sizes mobile
$fs-mb-title: 2rem;
$fs-mb-subtitle: 1.2rem;
$fs-mb-section-title: 1.5rem;
$fs-mb-section-subtitle: 1rem;

// font sizes desktop
$fs-dk-title: 3rem;
$fs-dk-subtitle: 1.8rem;
$fs-dk-section-title: 2.5rem;
$fs-dk-section-subtitle: 1.5rem;

// PALETTE
$palette-gray: #D9D9D9;
$palette-blu: #0A122A;
$palette-lightblu: #348AA7;
$palette-violet: #856084;