// VARIABLES

// font sizes mobile
$fs-mb-title: 2rem;
$fs-mb-subtitle: 1.2rem;
$fs-mb-section-title: 1.8rem;
$fs-mb-section-subtitle: 1.2rem;

// font sizes desktop
$fs-dk-title: 3rem;
$fs-dk-subtitle: 1.8rem;
$fs-dk-section-title: 2.5rem;
$fs-dk-section-subtitle: 1.5rem;

// PALETTE
$palette-green: #002500;
$palette-gray: #EEE5E9;
$palette-blu: #0A122A;
$palette-lightblu: #348AA7;
$palette-violet: #856084;